* {
    color: #006E73;
}

dt {
    font-weight: bold;
}

.details-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.detail-item {
    display: block;
    margin: 2%;
}