.gear-name, .gear-notes, .gear-weight {
    margin: 0;
    padding: 0.8rem 1.6rem;
    /* color: inherit; */
    /* width: 100%; */
    /* font-family: inherit;
    font-size: 2.1rem;
    font-weight: inherit;
    line-height: 1.8; */
    border: none;
    border-radius: 10px;
    transition: box-shadow 300ms;
}

.dropdown {
    border-radius: 10px;
    padding: 0.8rem 1.6rem;
    border:0.16em solid rgba(255,255,255,0);
}

.dropdown:focus {
    outline: none;
    border-color: #006E73;
}

.gear-name:focus, .gear-notes:focus, .gear-weight:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem #006E73;
}