

.list-title, .trip-description {
    margin: 0;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 10px;
    transition: box-shadow 300ms;
  }

  .list-title:focus, .trip-description:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem #006E73;
}

.gear-list {
    border-radius: 10px;
    background-color: #FFF;
    font-family: 'Source Code Pro', monospace;
    padding: 2%;
}

.title {
    color: #006E73;
    padding: 1%;
}

.gear-checkbox {
    margin: 2%;
}