* {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }

nav, footer {
    position: fixed;
    width: 100%;
    background-color: #D3EDD5;
    height: 50px;
}

nav {
    top: 0px;
    left: 0px;
    padding-right: 30px;
}

footer {
    bottom: 0px;
    left: 0px;
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
}

section, .banner {    
    width: 100%;
    padding: 2%;
}

main {
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #EDECDA;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    color: #006E73;
}

h2 {
    color: #006E73;
}

p {
    font-size: 20px;
}

button{
    display:inline-block;
    padding:0.3em 1.2em;
margin:0 0.1em 0.1em 0;
border:0.16em solid rgba(255,255,255,0);
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color: #AFACA0;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
text-align:center;
transition: all 0.2s;
    }
    button:hover{
    border-color: rgba(255,255,255,1);
    }
button:focus{
    outline: none;
    border-color: #FFFFFF;
}

ul {
    display: none;
    list-style: none;
    justify-content: flex-end;
}

li {
    padding-left: 20px;
    font-size: 30px;
}

.one, .three {
    background-color: #AFACA0;
}

.two {
    background-color: #D3EDD5;
        /* width: 288px;
        height: 200px; */
        /* display: flex; */
        /* justify-content: flex-end; */
        border: 5px solid #AFACA0;
        border-radius: 10px;
        /* background-color: #FFF; */
}

form {
    background-color: #D3EDD5;
    border-radius: 10px;
    padding: 2%;
}

.form-section {
    padding: 5px;
}

label {
    display: block;
}

textarea {
    width: 50%;
}

.gear-list {
    width: 50%;
    display: block;
    background-color: darkgray;
}

.signup-form {
    text-align: center;
    background-color: white;
}

header, .one, .two, .three {
    text-align: center;
}

#sign-in-form {
    text-align: center;
}

.description {
    text-align: center;
}


a {
    text-decoration: none;
}

